<div class="container">
    <div class="row">
        <div class='col-md-3'>
            
            <!--会員情報-->
            <table class="table">
                <tbody>
                    <tr></tr>
                    <tr>
                        <td>会員名:</td>
                        <td><%= @user.full_name %></td>
                    </tr>
                    <tr>
                        <%= image_tag @user.image, size: "200x200"  %>
                    </tr>
                    <tr>
                      <td>Level:</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>タスク時間:</td>
                    </tr>
                    
                    <!--タスク時間登録-->
                    <tr>
                        <td>新規登録</td>
                        <td><i class="fa-regular fa-stopwatch"></i></td>
                    </tr>
                </tbody>
            </table>
            
            
        </div>
        
        <!--目標一覧-->
        <div class='col-md-8 offset-md-1'>
            <h3>目標一覧</h3>
            <table class="table">
                    
            </table>
                
         <!--タスク時間のグラフ-->
            <h3>カテゴリー別タスク時間</h3>
                <table class="table table-bordered">
                        
                </table>
        </div>
    </div>
</div>