<div class="container-fluid img2">
    <headr class="masthead">
            <!--アバウト詳細-->
       <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-black font-weight-bold">About</h1>
                    <hr class="divider" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-black-75 mb-5 fonts">ゲーム感覚でタスクを管理することができるサイトです。</p>
                    <a class="btn btn-primary btn-xl fonts" href=" /users/sign_up">Let's Start</a>
                </div>
            </div>
        </div>
    </headr>
</div>

  <!--タスク紹介-->
<div class="container-fluid img5">
    <headr class="masthead">
       <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-black font-weight-bold">Task</h1>
                    <hr class="divider" />
                </div>
                <div class="col-lg-8 align-self-baseline mb-5">
                    <p class="text-black-75 mb-5 fonts"><strong>カレンダー要素があり、タスク管理が楽！！。</strong></p>
                    <a class="btn btn-primary btn-xl fonts" href=" /users/sign_up"><strong>Let's Start</strong></a>
                </div>
            </div>
        </div>
    </headr>
</div>
