<div class="container">
  <div class="row">
    <h3>目標一覧</h2>
      <ul class="tab-list list-unstyled">
        <li class="tab tab-active">
          勉強
        </li>
        <li class="tab">
          仕事
        </li>
        <li class="tab">
          プライベート
        </li>
      </ul>
    <!--タブで選択された要素部分-->
    <div class="tabbox-contents">
      <div class="tabbox box-show">
        <%= render 'achievement1', achievement1: @achievement1 %>
      </div>
      <div class="tabbox">
        <%= render 'achievement2', achievement2: @achievement2 %>
      </div>
      <div class="tabbox">
        <%= render 'achievement3', achievement3: @achievement3 %>
      </div>
    </div>
        <%= link_to '追加', new_achievement_path %>
    
    <script>
    // タブの切り替え
      $(document).on('turbolinks:load', function() {
        $(function() {
          $('.tab').click(function(){
            $('.tab-active').removeClass('tab-active');
            $(this).addClass('tab-active');
            $('.box-show').removeClass('box-show');
            const index = $(this).index();
            $('.tabbox').eq(index).addClass('box-show');
          });
        });
      });
  </script>
  </div>
</div>
