<div class="container">
  <div class="row">
    <div class="col-mb-6 col-lg-8 mx-auto text-center mt-5">
      <div class="card">
        <div class="card-body">
          <div class="card-title"><strong>本当に退会しますか？</strong></div>
          <div class="card-text">
            退会手続きをされますと、全てのサービスがご利用いただけなくなります。<br>
            再度ご利用をいただく場合には、新規登録のお手続きが必要になります。<br>
            本当に退会してよろしいですか？
          </div>
            <%= link_to '退会しない', mypage_path(@user), class: "card-link" %>
            <%= link_to "退会する", withdraw_user_path(@user), method: :patch, "data-confirm" => "OKを押すと退会処理がされます。本当によろしいですか？", class: "btn btn-danger card-link"%>
        </div>
      </div>
    </div>
  </div>
</div>
